#import(dataframe)
import(stats)
import(grDevices)
import(class)
import(nnet)
import(MASS)
import(e1071)
import(randomForest)
import(ipred)
#import(klaR)
#import(RWeka)

export(mlearning)
export(mlLda)
export(mlQda)
export(mlRforest)
export(mlLvq)
export(mlNnet)
export(mlSvm)
export(mlNaiveBayes)
#export(mlNaiveBayesWeka)

export(cvpredict)
export(summary.lvq)

export(response)
export(train)

export(prior)
export("prior<-")

export(confusion)
export(confusionImage)
export(confusionBarplot)
export(confusionStars)
export(confusionDendrogram)

S3method(confusion, default)
S3method(confusion, mlearning)
S3method(print, confusion)
S3method(plot, confusion)
S3method(summary, confusion)
S3method(print, summary.confusion)

S3method(print, mlearning)
S3method(summary, mlearning)
S3method(print, summary.mlearning)
S3method(plot, mlearning)
S3method(predict, mlearning)
S3method(cvpredict, mlearning)

S3method(response, default)
S3method(train, default)

S3method(prior, confusion)
S3method("prior<-", confusion)

S3method(summary, lvq)
S3method(print, summary.lvq)

S3method(mlLda, default)
S3method(mlQda, default)
S3method(mlRforest, default)
S3method(mlLvq, default)
S3method(mlNnet, default)
S3method(mlSvm, default)
S3method(mlNaiveBayes, default)
#S3method(mlNaiveBayesWeka, default)

S3method(mlLda, formula)
S3method(mlQda, formula)
S3method(mlRforest, formula)
S3method(mlLvq, formula)
S3method(mlNnet, formula)
S3method(mlSvm, formula)
S3method(mlNaiveBayes, formula)
#S3method(mlNaiveBayesWeka, formula)

S3method(predict, mlLda)
S3method(predict, mlQda)
S3method(predict, mlRforest)
S3method(predict, mlLvq)
S3method(predict, mlSvm)
