import(digest)
import(utils)
import(tools)
#import(tcltk)
#import(tcltk2)
import(svMisc)
#import(svWidgets)
import(svDialogs)
import(filehash)
import(jpeg)
import(png)
import(tiff)
#import(ipred)
#import(MASS)
#import(randomForest)
#import(class)
#import(rpart)
#import(e1071)
#import(nnet)
#import(tree)
#import(RWeka)
import(mlearning)
#import(party)
importFrom(MASS, lda)
importFrom(mda, mda, gen.ridge)
importFrom(shiny, updateSelectInput, shinyServer, reactive, isolate, renderPrint, updateTabsetPanel, renderPlot, shinyUI, fluidPage, fluidRow, sidebarPanel, selectInput, actionButton, mainPanel, tabsetPanel, tabPanel, verbatimTextOutput, plotOutput)
importFrom(DT, dataTableOutput, renderDataTable)

# planktonSorter
export(correctError)
export(activeLearning)

# Zic
export(zicCheck)

# Zid
export(zidClean)
export(zidCompress)
export(zidCompressAll)
export(zidDatMake)
export(zidDatRead)
export(zidUncompress)
export(zidUncompressAll)
export(zidVerify)
export(zidVerifyAll)

#Zidb
export(zidbMake)
export(zidbMakeAll)
export(zidToZidb)
export(zidToZidbAll)
export(zidbToZid)
export(zidbToZidAll)
export(zidbLink)
export(zidbDatRead)
export(zidbSampleRead)
export(zidbPlotNew)
export(zidbDrawVignette)

# Zie
export(ZIE)
export(zieCompile)
export(zieCompileFlowCAM)
export(zieMake)

# Zim
export(isZim)
export(zimCreate)
export(zimEdit)
export(zimExtractAll)
export(zimMake)
export(zimUpdateAll)
export(zimVerify)
export(zimDatMakeFlowCAM)
export(zimDatMakeFlowCAMAll)

# Zip
export(zipImg)
export(zipImgAll)
export(unzipImg)
export(unzipImgAll)

# Zis
export(zisCreate)
export(zisEdit)
export(zisRead)

# ZIClass
export(ZIClass)

# ZITrain/ZITest
export(prepareTrain)
export(addToTrain)
export(compTrain)
export(getTrain)
export(prepareTest)
export(addToTest)
export(getTest)
export(recode)
export(template)
export(contextSelection)
export(addItemsToTrain)
export(dropItemsToTrain)

# ZICell
export(cellCount)
export(cellModel)
export(cellCompute)

# ZIRes
export(processSample)
export(processSampleAll)

# Utilities
export(addClass)
export(calcVars)
export(calibrate)
export(dropVars)
export(ecd)
export(getDec)
export(listSamples)
export(makeId)
export(parseIni)
export(sampleInfo)
export(trimString)
export(underscoreToSpace)
export(zipNoteAdd)
export(zipNoteGet)

# File-Utilities
export(extensionPattern)
export(hasExtension)
export(noExtension)
export(listFilesExt)
export(jpgList)
export(pngList)
export(zidList)
export(zidbList)
export(zipList)
export(zimList)
export(zimDatList)
export(checkDirExists)
export(checkEmptyDir)
export(checkFileExists)
export(checkFirstLine)
export(forceDirCreate)

# GUI
export(aboutZI)
export(acquireImg)
export(activeLearningGUI)
export(addVigsToTrain)
export(analyzeClass)
export(calib)
export(countCellsGUI)
export(closeAssistant)
export(closeZooImage)
export(collectTrain)
export(editDescription)
export(exitZI)
export(exportResults)
export(focusGraph)
export(focusR)
export(importImg)
export(listObjects)
export(loadObjects)
export(makeClass)
export(makeZid)
export(makeZidb)
export(makeZidbFlowCAM)
export(makeTrain)
export(optInOutDecimalSep)
export(processImg)
export(processSamples)
export(processSamplesWithCells)
export(removeObjects)
export(saveObjects)
export(validClass)
export(vignettesClass)
export(viewManual)
export(viewFrenchManual)
export(viewResults)
export(ZIDlg)
# Not in menus yet!
#export(subpartZIDat)
export(ZIUI)

# GUI-Utilities
export(selectGroups)
export(selectFile)
export(selectList)
export(selectObject)
export(createThreshold)
export(imageViewer)
export(startPgm)
export(modalAssistant)

# Importation
export(readFlowCAMctx)
export(readFlowCAMlst)
export(importFlowCAM)

# S3 methods
S3method(template, default)
S3method(recode, ZITrain)
S3method(recode, ZITest)

S3method(print, ZIClass)
S3method(predict, ZIClass)
S3method(summary, ZIClass)
S3method(confusion, ZIClass)

S3method(print, ZIRes)
S3method(rbind, ZIRes)

S3method(print, ZIE)
