import(utils)
#import(tcltk)
#import(tcltk2)
import(svMisc)
#import(svWidgets)
import(svDialogs)
import(filehash)
import(jpeg)
import(png)
import(ipred)
#import(MASS)
#import(randomForest)
#import(class)
import(rpart)
import(e1071)
#import(nnet)
import(tree)
#import(RWeka)
import(mlearning)
#import(party)

export(histSpectrum)
export(plotAbdBio)
#export(processSample)
#export(processSampleAll)
export(sampleAbd)
export(sampleBio)
export(sampleSpectrum)

# Zic
export(zicCheck)

# Zid
export(zidClean)
export(zidCompress)
export(zidCompressAll)
export(zidDatMake)
export(zidDatRead)
export(zidUncompress)
export(zidUncompressAll)
export(zidVerify)
export(zidVerifyAll)

#Zidb
export(zidbMake)
export(zidbMakeAll)
export(zidToZidb)
export(zidToZidbAll)
export(zidbToZid)
export(zidbToZidAll)
export(zidbLink)
export(zidbDatRead)
export(zidbSampleRead)
export(zidbPlotNew)
export(zidbDrawVignette)

# Zie
export(ZIE)
export(zieCompile)
export(zieCompileFlowCAM)
export(zieMake)

# Zim
export(isZim)
export(zimCreate)
export(zimEdit)
export(zimExtractAll)
export(zimMake)
export(zimUpdateAll)
export(zimVerify)
export(zimDatMakeFlowCAM)
export(zimDatMakeFlowCAMAll)

# Zip
export(zipImg)
export(zipImgAll)
export(unzipImg)
export(unzipImgAll)

# Zis
export(zisCreate)
export(zisEdit)
export(zisRead)

# ZIClass
export(ZIClass)

# ZITrain/ZITest
export(prepareTrain)
export(addToTrain)
export(getTrain)
export(prepareTest)
export(addToTest)
export(getTest)
export(recode)
export(template)

# Utilities
export(calcVars)
export(calibrate)
export(ecd)
export(getDec)
export(listSamples)
export(makeId)
export(parseIni)
export(sampleInfo)
export(trimString)
export(underscoreToSpace)
export(zipNoteAdd)
export(zipNoteGet)

# File-Utilities
export(extensionPattern)
export(hasExtension)
export(noExtension)
export(listFilesExt)
export(jpgList)
export(pngList)
export(zidList)
export(zidbList)
export(zipList)
export(zimList)
export(zimDatList)
export(checkDirExists)
export(checkEmptyDir)
export(checkFileExists)
export(checkFirstLine)
export(forceDirCreate)

# GUI
export(aboutZI)
export(acquireImg)
export(addToTrain)
export(analyzeClass)
export(calib)
export(closeAssistant)
export(closeZooImage)
export(collectTrain)
export(editDescription)
export(exitZI)
export(exportResults)
export(focusGraph)
export(focusR)
export(importImg)
export(listObjects)
export(loadObjects)
export(makeClass)
export(makeZid)
export(makeTrain)
export(optInOutDecimalSep)
export(processImg)
export(processSamples)
export(removeObjects)
export(saveObjects)
export(vignettesClass)
export(viewManual)
export(viewResults)
export(ZIDlg)
# Not in menus yet!
export(subpartZIDat)

# GUI-Utilities
export(selectGroups)
export(selectFile)
export(selectList)
export(selectObject)
export(createThreshold)
export(imageViewer)
export(startPgm)
export(modalAssistant)

# S3 methods
S3method(template, default)
S3method(recode, ZITrain)
S3method(recode, ZITest)

S3method(print, ZIClass)
S3method(predict, ZIClass)
S3method(summary, ZIClass)
S3method(confusion, ZIClass)

S3method(plot, ZITable)
S3method(merge, ZITable)

S3method(print, ZIE)
