import(utils)
#import(tcltk)
#import(tcltk2)
import(svMisc)
#import(svWidgets)
import(svDialogs)
import(filehash)
import(jpeg)
import(png)
#import(ipred)
#import(MASS)
#import(randomForest)
#import(class)
#import(rpart)
#import(e1071)
#import(nnet)
#import(tree)
#import(RWeka)
import(mlearning)
#import(party)
import(zooimage)
import(rJava)

importFrom("grDevices", "as.raster")

export(ImageJ,
       IJ,
       IJWindowManager) 

S3method("as.raster", "jobjRef")
